<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.client.httpcontext.dojo">
	         <resource-mapping
	               bundle="com.zizibujuan.client.dojo"
	               path="/static/dojo">
	         </resource-mapping>
         </httpcontext>
          <httpcontext
            id="com.zizibujuan.client.httpcontext.dijit">
	         <resource-mapping
	               bundle="com.zizibujuan.client.dojo"
	               path="/static/dijit">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.client.httpcontext.dojox">
	         <resource-mapping
	               bundle="com.zizibujuan.client.dojo"
	               path="/static/dojox">
	         </resource-mapping>
         </httpcontext>
         <httpcontext
            id="com.zizibujuan.client.httpcontext.xstyle">
	         <resource-mapping
	               bundle="com.zizibujuan.client.dojo"
	               path="/static/xstyle">
	         </resource-mapping>
         </httpcontext>
                  <httpcontext
            id="com.zizibujuan.client.httpcontext.put-selector">
	         <resource-mapping
	               bundle="com.zizibujuan.client.dojo"
	               path="/static/put-selector">
	         </resource-mapping>
         </httpcontext>
                  <httpcontext
            id="com.zizibujuan.client.httpcontext.dgrid">
	         <resource-mapping
	               bundle="com.zizibujuan.client.dojo"
	               path="/static/dgrid">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/dojo"
            httpcontextId="com.zizibujuan.client.httpcontext.dojo">
      </resource>
      <resource
            alias="/dijit"
            httpcontextId="com.zizibujuan.client.httpcontext.dijit">
      </resource>
      <resource
            alias="/dojox"
            httpcontextId="com.zizibujuan.client.httpcontext.dojox">
      </resource>
            <resource
            alias="/xstyle"
            httpcontextId="com.zizibujuan.client.httpcontext.xstyle">
      </resource>
            <resource
            alias="/put-selector"
            httpcontextId="com.zizibujuan.client.httpcontext.put-selector">
      </resource>
            <resource
            alias="/dgrid"
            httpcontextId="com.zizibujuan.client.httpcontext.dgrid">
      </resource>
     </extension>
</plugin>
